@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Roboto+Slab&family=Rowdies&family=Source+Sans+Pro:wght@300&family=Syne+Tactile&family=Titillium+Web&family=Vujahday+Script&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  background-color: black ;
  overflow-x: hidden;
  color: beige;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
  z-index: 100;
  transition: all 0.5s;
}
.navbar {
}
.navlinklistbox{
    display: flex;
}
.navlinklist{
    padding: 0 1rem;
    list-style: none;
}
.navlinks{
    text-decoration: none;
    font-size :0.8rem;
    font-weight: bold;
    color: #696969;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.space{
  margin-bottom: 10rem;
}
.about , .event{
  display:flex;
  justify-content: space-around;
}
.title_container{
  padding: 1rem;
  justify-content: center;
}
.screen_container{
  height: 100%;
}
.screen{
  width: 90%;
  padding: 0.5rem;
  margin: 5rem 0;
  border-radius: 0.5rem;
  border: #0b0b0c solid 2px;
  float: right;
  transform: translateX(-1rem);
}
.dots{
  padding: 0.3rem 0;
  display: flex;
  justify-content: right;
  border-bottom: 2px solid #0b0b0c;
}
.fa-circle{
  padding: 0 2px;
  padding-bottom: 0.3rem;
}
.frame{
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  background-color: #0b0b0c;
  transform: translateY(2rem);
}
.tl_container{
  display: flex;
  justify-content: center;
  position: relative;
}
.tl{
  width: 80%;
  height: auto;
  min-width: 400px;
}
.tl ul{
  list-style: none;
}
.tl_element{
  padding: 2rem;
  margin: 1rem 0;
  background-color:#0b0b0c;
  border-radius: 0.5rem;
}
.tl_element h2{
  color: brown;
}
.tl::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: #0b0b0c;
}
@media only screen and (min-width:768px){
  .tl::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #0b0b0c;
    left: 50%;
    transform: translateX(-50%);
  }
  .tl ul li::after{
    content: "";
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: brown;
    top: 10px;
  }
  .tl ul li:nth-child(odd)::after{
    transform: translate(50%,-50%);
    right: -30px;
  }
  .tl ul li:nth-child(even)::after{
    transform: translate(-50%,50%);
    left: -30px;
  }
  .tl ul li{
    width: 50%;
    margin-bottom: 0.5rem;
    position: relative;
  }
  .tl ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
  }
  .tl ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
  }

}
.goal_container{
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
.right_goal_container{
  right: 0;
  display: flex;
  justify-content: space-around;

}
.goal_image{
  padding: 2rem;
  border: #696969 solid;
}
.goals{
  width: 50%;
  height: 100%;
}

.red{
  color:brown;  
}

.content {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.wowpanel{
  align-items: center;
  justify-content: center;
  display: inline-block;
}

/* Footer */
.footer{
  background-color: #0b0b0c;
  padding: 4rem 10rem;
}

.footer_container{
  display: flex;
  align-content: center;
  justify-content: space-between;
}