@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lobster&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Roboto+Slab&family=Rowdies&family=Rubik+Mono+One&family=Source+Sans+Pro:wght@300&family=Syne+Tactile&family=Titillium+Web&family=Vujahday+Script&display=swap');
html {
  scroll-behavior: smooth;
}
:root{
  --primary-color:#181818;
  --secondary-color:#0b0b0c;
  --tertiary-color:brown;
  --border-color:#393939;

}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  background-color: var(--primary-color);
  /* overflow-x: hidden; */
  color: beige;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.about{
  display: flex;
  justify-content: center;
}
.heading{
  height:450px;
  width:95%;
  margin-top: 10%;
  margin-left: 2%;
  border: 2px solid rgb(98, 96, 96);
}
.box1 h1{
  padding-top:120px ;
  padding-left: 30px;
  font-size: 35px;
  color: rgb(235, 224, 224);
}
.box1 p{
  padding-top:20px ;
  padding-right: 30px;
  padding-left: 30px;
  color: beige;
  font-size: 17px;
}
.box1{
 text-align: left;
  width: 35%;
  height: 450px;
  border-right:2px solid  rgb(98, 96, 96);
}
.box2{
  background-color:  #1b1c1e;
  padding: 1rem;
  width: 20%;
  height: 75%;
  margin-top: -47%;
  margin-left: 44%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgb(16, 16, 16);
}
.box3{
  background-color: #1b1c1e;
  padding: 1rem;

  width: 20%;
  /* height: 75%; */
  margin-top: 1%;
  margin-left: 44%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgb(16, 16, 16);
}
.box4{
  background-color:  #1b1c1e;
  padding: 1rem;

  width: 20%;
  /* height: 75%; */
  margin-top: -45%;
  margin-left: 65%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgb(16, 16, 16);
}
.box5{
  background-color:   #1b1c1e;
  width: 20%;
  height: 75%;
  margin-top: 1%;
  margin-left: 65%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgb(16, 16, 16);
  
}
.img_story{
  width: 200px;
  height: 100px;
  padding-top: 1cm;
  padding-left: 0.8cm;
}
.text_img{
  padding-left: 4cm;
  color: beige;
}
.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  z-index: 100;
  transition: all 0.5s;
}
.navbar {
}
.csi_logo{
  position: absolute;
  left: 1rem;
}
.csi_logo img{
  aspect-ratio: 2;
}
.navlinklistbox{
    display: flex;
}
.navlinklist{
    padding: 0 1rem;
    list-style: none;
}
.navlinks{
    text-decoration: none;
    font-size :0.9rem;
    font-weight: bold;
    color: #797575;
}
.container_dbit{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space{
  padding-top: 5rem;
}
.about_section_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_section{
  width: 95%;
}
.title_container{
  position: relative;
  
}
.title_sticky {
  
  position: sticky; 
  top: 1rem;
}
.title {
  position: relative;
  left: 1rem;
  /* top: 15%; */
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: var(--secondary-color);
  letter-spacing: 0px;
  line-height: 6rem;
}
.screen_container{
display: flex;
justify-content: center;
}
.screen{
  width: 95%;
  padding: 0.5rem;
  margin: 5rem 0;
  border-radius: 0.5rem;
  border: var(--secondary-color) solid 2px;
}
.screen_events {
  margin: 0px;
}
.dots{
  padding: 0.3rem 0;
  display: flex;
  justify-content: right;
  border-bottom: 2px solid var(--secondary-color);
}
.fa-circle{
  padding: 0 2px;
  padding-bottom: 0.3rem;
}
.frame{
  width: 100%;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  transform: translateY(2rem);
  display: flex;
  justify-content: center;
}


/*.number{*/
/*  text-shadow: #000000;*/
/*  font-size: 6ch;*/
/*  font-weight: bolder;*/
/*}*/


.containers{
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  /* height: 30vh; */
}

.counters-container{
  background: #181818;
  color: white;
  margin-top: 25rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  /*border-top: 3px lightblue solid;*/
  /*border-bottom: 3px lightblue solid;*/
}

.counters-container .containers{
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.counters-container i {
  color: #626b8f;
  margin-bottom: 20px;
  font-size: 2rem;
}

.counters-container .counters{
  font-size: 45px;
  margin: 10px;
}

@media(max-width: 700px){
  .counters-container .container{
    grid-template-columns: repeat(2, 1fr);
  }

  .counters-container .container > div:nth-of-type(1), .counters-container , .container > div:nth-of-type(2){
    padding-bottom: 20px;
  }
}

.Words{
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

.tl_container{
  display: flex;
  justify-content: center;
  position: relative;
}
.tl{
  width: 80%;
  height: auto;
  min-width: 400px;
}
.tl ul{
  list-style: none;
}
.tl_element{
  padding: 2rem;
  margin: 1rem 0;
  background-color:var(--secondary-color);
  border-radius: 0.5rem;
}
.tl_element h2{
  color: var(--tertiary-color);
}
.tl::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: var(--secondary-color);
}
@media only screen and (min-width:768px){
  .tl::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: var(--secondary-color);
    left: 50%;
    transform: translateX(-50%);
  }
  .tl ul li::after{
    content: "";
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    top: 10px;
  }
  .tl ul li:nth-child(odd)::after{
    transform: translate(50%,-50%);
    right: -30px;
  }
  .tl ul li:nth-child(even)::after{
    transform: translate(-50%,50%);
    left: -30px;
  }
  .tl ul li{
    width: 50%;
    margin-bottom: 0.5rem;
    position: relative;
  }
  .tl ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
  }
  .tl ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
  }

}
.goal_container{
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
.right_goal_container{
  right: 0;
  display: flex;
  justify-content: space-around;

}
.goal_imageBox{
  padding: 0.8rem;
  border: #696969 solid;

}
.goal_image{
  background-color: beige;
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.goals{
  width: 50%;
  height: 100%;
}

.red{
  color:var(--tertiary-color);  
}

.content {
  /* margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px; */
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.pannels{
  justify-content: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 2fr;

}
.wowpanel{
  align-items: center;
  justify-content: center;
  display: inline-block;
}

/* Footer */
.footer{
  background-color: var(--secondary-color);
  margin-top: 5rem;
}
.footer_container{
  padding: 3rem 0;
  justify-content: space-around;
}
.social_links ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.other_organisation{
  display: flex;
  justify-content: center;
}
.footer_links_container{
  display: flex;
  justify-content: center;
}
.footer_links{
  padding: 1rem 2rem;
}
.footer_logo{
  width: 0.8in;
  height: 0.8in;

}
.list{
  list-style:none;
  text-align: center;
}
.list li{
  padding: 0.5rem;
}
.list li a{
  color:white;
  text-decoration: none;
}
.list li a h3{
  color: var(--tertiary-color);
}
.footer_text{
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: var(--secondary-color);
}
.brand{
  position: absolute;
  padding: 1rem;
}
.border_right{
  border-right: 2px solid var(--border-color);
}
.border_left{
  border-left: 2px solid var(--border-color);
}
.border_top{
  border-top: 2px solid var(--border-color);
}
.border_bottom{
  border-bottom:2px solid var(--border-color);
}
.flagship{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.flagship-title{
  font-size: xx-large;
  margin-left: 3.5rem;
  margin-bottom: 20px;
}
.flagship_eventTitle{
  color: brown;
  font-size: larger;
  margin-bottom: 20px;
}
.flagship_eventBox{
  width: 90%;
  border:2px solid var(--border-color);
}
.flagship_event{
  display: flex;
}
.flagship_desc{
  display: flex;
  justify-content: center;
  align-items: center;

}
.flagship_desc_text{
  width: 75%;
  
  padding: 2rem;
}
.flagship_image{
  width: 100%;
  object-fit: cover;
  padding: 1rem;
}
.flagship_img1{
  height: 75vh;
}
.flagship_img2{
  height: 75vh;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.current_teamgrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.workshop_container,.talks_container{
  width: 90%;
  margin-left: 50px;
  margin-top: 20px;
}
.workshop ,.talks{
  text-align: center;
  background-color: #0b0b0c;
  border-radius: 15px;
}
.workshop_img{
  border-radius: 15px;
  width: 100%;
  height: 80%;
}
/* .text_overlap{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  color: beige;
  margin: 0;
} */
.member{
  padding: 1rem;
  margin: auto;
}
.member_desc{
  text-align: center;
}
.reachus{
  text-align: center;
}
.reachus .label{
  width: 50%;
  margin: auto;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--tertiary-color);
}
.reachus_section{
  display: flex;
  justify-content:center;
  /* align-items: center; */
  margin-top: 1rem;
}

.reachout_form{
  width: 40%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  position:relative;
}
.input label{
  position: absolute;
}
.inputfield{
  color: white;
  width: 100%;
  background: transparent;
  outline: none;
  border: solid 2px var(--border-color);
  padding: 1rem;
  margin: 1rem auto;
  resize: none;
  border-radius: 0.3rem;
}
.submit_btn{
  padding: 0.5rem 1rem;
  background: transparent;
  color: white;
  cursor: pointer;
  border: none;
  border-bottom: 5px solid var(--tertiary-color);
}
.map_contact{
  width: 60%;
}
.map{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
}
.reach_us h1{
  width: 20%;
  margin-left: 1rem;
  padding-left: 3rem;
  color: var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
}
.map iframe{
  width: 90%;
  height: 100%;
}
.map_align{
  width: 70%;
display: flex;
justify-content: center;
}
.map_align iframe{
  width: 80%;
  height: 100%;
}
.reachus_text{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.reachus_text .contacts{
  padding: 1rem;
  text-align: left;
  width: 30%;
  
}
.contacts .contact_info_details{
  padding: 1rem  0;
  width: 80%;
}
.contact_info_details a{
  display: flex;
  align-items: center;
  /* padding: 1.5rem 0; */
  text-decoration: none;
  color: white;
}
.contact_info_details a span i{
  padding: 1rem;
  font-size: large;
  color: var(--tertiary-color);
}