
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Lobster&family=Poppins&family=Satisfy&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
	
}

.team-header span{
	font-family: 'Satisfy', cursive;
	font-weight:600;
}
.team{
	position: relative;
	width: 100%;
	height: 100%;
	background: radial-gradient(#281c3e,#0f051d);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #484848;
	font-size: 2rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: white;
	border-radius: 15px;
	transition: all .38s ease;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1)
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #4e4e4e;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #4e4e4e;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #4e4e4e;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
    color: #222222;

}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
    color: #222222;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}
