

/* Embed google fonts for demo layout
-----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');


/* Main Page Layout 
-- NOTE: Just for the demo page, and not
required for the video modal... Video Modal
styles are down below --
-----------------------------------------*/
/* * {
  box-sizing: border-box;
}
html {
  background: #fcfcfc;
}
@media (min-width: 641px) {
  html {
    background: #4b4b4b;
  }
} */
/* body {
  font-family: 'Source Sans Pro', sans-serif;
} */
.noscroll { 
	overflow: hidden;
}

.inner-page{
  display: flex;
  padding: 0;
}
main {
  font-size: 0;
}
main .column.left{
  width: 50%;
  height: 100vh;
  background: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  font-size: 1rem;
  width: 100%;
  min-height: 0;
  vertical-align: top;
  margin: 0;
 
}
main .column.right {
  background: #fcfcfc;
  display: block;
  position: relative;
  font-size: 1.5rem;
  width: 100%;
  min-height: 0;
  vertical-align: top;
  padding: 0;
}
@media (min-width: 641px) {
    main .column.left,
    main .column.right {
      display: inline-block;
      /* width: 0%; */
      min-height: 100vh;
    }
    main .column.left {
      position: fixed;  
    }
    main .column.right {
      /* margin-left: 50%; */
    }
}
.about{
  display: flex;
}
.about-title{
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
font-size: 1rem;
width: 70%;
min-height: 0;
vertical-align: top;
}
.mumbaiHero{
  margin: 0;
  padding: 0;
}
.mumbaiHero video{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#scroll-down-animation {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.about-pages .video-banner{
  display: none;
}
@media (max-width:768px){
  #scroll-down-animation{
    display: none;
  }
  .about{
    flex-direction: column;
  }
  .about .about-title{
    display: none;
  }
  .about-pages .video-banner{
    display: block;
  }
  .mumbaiHero{
    height: 100vh !important;
  }
}
#scroll-down-animation .mouse {
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  border: 2px solid #fff;
  height: 100px;
  width: 50px;
  position: relative;
}

#scroll-down-animation .mouse .move {
  position: absolute;
  background-color: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-50%,10px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%,40px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,80px);
    opacity: 0;
  }
}
.video-banner {
  display: block;
}
@media (min-width: 641px) {
  .video-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }
}

.video-banner .video-banner-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 0.5rem;
}
.video-banner-headline {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  line-height: 1.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.045em;
}
@media (min-width: 641px) {
  .video-banner-headline {
    left: 2em;
    bottom: 2.75em;
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
/* .video-banner-icon-playwrap{
  position: relative;
  width: 100%;
  height: 100%;
} */
.video-banner-icon-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 5rem;
  height: 5rem;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.0);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1.0);
	-ms-transform: translateX(-50%) translateY(-50%) scale(1.0);
	-o-transform: translateX(-50%) translateY(-50%) scale(1.0);
	transform: translateX(-50%) translateY(-50%) scale(1.0);
  
  -o-transition: 
		all 0.2s ease-out 0.05s;
  -moz-transition: 
		all 0.2s ease-out 0.05s;
  -webkit-transition: 
		all 0.2s ease-out 0.05s;
	transition: 
		all 0.2s ease-out 0.05s;
}
@media (max-width: 768px) {
  .video-banner-icon-play-btn {
    width: 5rem;
    height: 5rem;
    top: 56rem;
  }
}
.video-banner-icon-play-btn:hover {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1.2);
	-ms-transform: translateX(-50%) translateY(-50%) scale(1.2);
	-o-transform: translateX(-50%) translateY(-50%) scale(1.2);
	transform: translateX(-50%) translateY(-50%) scale(1.2);
  backgound: #330099;
}
.mh-flagship-title::before{
   content: "{";
    font-weight: bolder;
    font-size: 10rem;
    position: absolute;
    left: 2.5rem;
    color: #F9F028;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.content {
  display: block;
  min-height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem;
}
@media (min-width: 641px) {
  .content {
    margin: 0 auto;
    padding: 5.5rem;
  }
}

.content h1,
.content h2,
.content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #0D013D;
}
.content h1 {
  font-size: 3.25em;
  font-weight: 200;
  line-height: 1.0em;
  
  margin: 0 0 0.5rem 0;
}

.content h2 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.155em;
  margin-top: 3em;
}

/* buttons */
.content .button-group {
  margin-top: 1em;
}
.content .button-group .button-text{
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.content .button-group .button {
  padding: 1rem 2rem;
  background-color: rgba(0,0,0,0.9);
  border-radius: 5rem;
  font-weight: bold;
  font-size: medium;
}
.content .button-group .button:hover{
  background-color: rgba(0,0,0,1);
}

/* video thumbnail grid */
.content .video-thumb-grid {
  display: contents;
  position: relative;
  font-size: 0; /* collapse the white-space */
  width: calc(100% + 2rem);
  margin: 0 -1rem;
}
.content .video-thumb {
  display: inline-block;
  vertical-align: top;
  
  text-decoration: none;
  
  /* calculate the width, gutters, and aspect ratio */
  width: calc((100% - 4rem) / 2);
  height: 0;
  padding-top: calc(((100% - 4rem) / 2) * 0.5625); /* 16:9 calc */
  
  margin: 1rem 1rem; /* gutters */
  
  overflow: hidden; /* clipping */
  
  position: relative; /* enable positioning for inner content */
  
  font-size: 1rem; /* reset the font size */
  
  -o-transform: scale(1.0);
	transform: scale(1.0);
  box-shadow: 0 0 0 rgba(0,0,0,0.0);
  -moz-transform: scale(1.0);
	transform: scale(1.0);
  box-shadow: 0 0 0 rgba(0,0,0,0.0);
  -ms-transform: scale(1.0);
	transform: scale(1.0);
  box-shadow: 0 0 0 rgba(0,0,0,0.0);
  -webkit-transform: scale(1.0);
	transform: scale(1.0);
  box-shadow: 0 0 0 rgba(0,0,0,0.0);
  
  -moz-transition: 
		all 0.2s ease-out 0.05s;
  -o-transition: 
		all 0.2s ease-out 0.05s;
  -webkit-transition: 
		all 0.2s ease-out 0.05s;
	transition: 
		all 0.2s ease-out 0.05s;
}
.content .video-thumb:hover {
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(13,1,61,0.35);
}
.content .video-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  
  /* position inside the 16:9 container */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  /* clipping for source images that are letterboxed */
  object-fit: cover;
  object-position: 50% 50%;
  
  background: #2b2b2b;
}
.flagshipFeature li {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 4rem;
  }
  .mh-flagship-title::before{
     left: -1rem;
     top: 0.1rem;
     font-size: larger;
 }
 .content .button-group .button {
  font-size: medium;
}
 .sponsor-images{
  flex-direction: column;
 }
}




/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
}
.video-modal {
	overflow: hidden;
	position: fixed;
	opacity: 0.0;

  -moz-transform: translate(500%,0%);
  -o-transform: translate(500%,0%);
  -ms-transform: translate(500%,0%);
  -webkit-transform: translate(500%,0%);
  transform: translate(500%,0%);

  -o-transition: -webkit-transform 0s linear 0s;
  -moz-transition: -webkit-transform 0s linear 0s;
  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: transform 0s linear 0s;


  /* using flexbox for vertical centering */

  /* Flexbox display */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  /* Vertical alignment */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.video-modal .overlay {
  z-index: 0;
  background: rgba(0,0,0,0.7); /* overlay color */

  opacity: 0.0;

  -moz-transition: opacity 0.2s ease-out 0.05s;
  -o-transition: opacity 0.2s ease-out 0.05s;
  -webkit-transition: opacity 0.2s ease-out 0.05s;
  transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;
  
	margin: 0 auto;

	overflow-y: visible;

	background: rgb(0, 0, 0);
  
  width: calc(50% - 80em);
  height: 0;
  padding-top: calc((100% - 12em) * 0.5625); /* 16:9 calc */
}

/* Scaling to fit within the current Viewport size:
   When viewport aspect ratio is greater than 16:9
   work off the height instead of the width for calc */
 @media (min-aspect-ratio: 16/9) {
  .video-modal-content {
    width: 0;
    height: calc(70vh - 10em);
    padding-top: 0;
    padding-left: calc((100vh - 10em) * 1.7778); /* 16:9 calc */
  }
}

/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
	.video-modal-content {
		width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625); /* 16:9 calc */
	}
}

/* modal close button */
.close-video-modal {
	display: block;
    position: absolute;
    left: 0;
    top: -70px;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #000;
	box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

/* show the modal: 
   add class to the body to reveal */
.show-video-modal .video-modal {
	opacity: 1.0;

	transform: translate(0%,0%);
	-o-transform: translate(0%,0%);
	-ms-transform: translate(0%,0%);
	-moz-transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
	opacity: 1.0;
}
.show-video-modal .video-modal-content {
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
	-moz-transform: translate(0%,0%);
	-ms-transform: translate(0%,0%);
	-o-transform: translate(0%,0%);
}
.flagship_sponsors{
  flex-direction: column;
}
.flagship_sponsors .sponsor-images{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.flagship_sponsors .sponsor-images a img{
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  object-fit: cover;
}
.flagship_sponsors .sponsor-images a img:hover{
  box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
}