body{
    font-family: 'Sarabun', sans-serif;
}
/* header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
    background-color: wheat;
} */
.about{
    /* height: 300vh; */
    display: flex;
}
.about-title{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
    /* position: relative !important; */
    margin: 0 !important;
    /* object-fit:; */
    /* width: 50%; */
  /* height: 100vh; */
  /* background: #fcfcfc; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* position: relative; */
  font-size: 1rem;
  width: 70%;
  min-height: 0;
  vertical-align: top;
  /* margin: 0; */
    /* background-image: url(http://i3.ytimg.com/vi/ze_ie8Ctp60/maxresdefault.jpg); */
}
/* .about-pages{
    width: 50%;
} */
/* .about-pages div{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */
/* .about-pages div> p{
    width: 80%;
    font-size: 18px;
    line-height:  30px;
}
.about-pages div:nth-child(1){
    background-color: green;
}
.about-pages div:nth-child(2){
    background-color: yellow;
}
.about-pages div:nth-child(3){
    background-color: purple;
} */
/* footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
} */
/* navbar */

/* .navbar {
    padding: 0;
    position: sticky;
    z-index: 100000;
  } */
  .mumbaiHero{
    margin: 0;
    padding: 0;
  }
  .mumbaiHero video{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    /* transform: scale(1.2); */
  }
  #scroll-down-animation {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .about-pages .video-banner{
    display: none;
  }
  @media (max-width:768px){
    #scroll-down-animation{
      display: none;
    }
    .about{
      flex-direction: column;
    }
    .about .about-title{
      display: none;
    }
    .about-pages .video-banner{
      display: block;
    }
    .mumbaiHero{
      height: 100vh !important;
    }
  }

  h2 {
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 16px;
  }
  
  .mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 100px;
    width: 50px;
    position: relative;
  }
  
  .move {
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-50%,10px);
      opacity: 0;
    }
    50% {
      transform: translate(-50%,40px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%,80px);
      opacity: 0;
    }
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #637f7b;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #1bbca3;
  }
  
  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: #1bbca3;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  
  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: #1ed2b6;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #1bbca3;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #58716d;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(21, 27, 26, 0.8);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #58716d;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #1bbca3;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #1bbca3;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }




